@font-face {
    font-family: "DM Sans:Bold";
    font-style: normal;
    src: url("/_woff/v2/DMSans_opsz_wght__1/DMSans_opsz_wght__1-english.woff2");
    font-display: block;
    unicode-range: U+0000-00A0,U+00A2-00A9,U+00AC-00AE,U+00B0-00B7,U+00B9-00BA,U+00BC-00BE,U+00D7,U+00F7,U+2000-206F,U+2074,U+20AC,U+2122,U+2190-21BB,U+2212,U+2215,U+F8FF,U+FEFF,U+FFFD
}




 body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: "DM Sans", sans-serif;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header {
        position: relative;
        width: 799.2px;
        height: 78px;
        padding: 20px 20px 50px;
        display: block;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        font-family: "DM Sans:bold" , sans-serif;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px; opacity: 1;
        box-sizing: border-box; 
           }
 
 
   .header-left {
        position: relative;
        display: block;
        font-size: 30px;
        font-family: "DM Sans", sans-serif;
        letter-spacing: -2.4px;
        justify-content: center;
        line-height: 1.2;
    }       


    .header-button {
        display: none;
    }

    
    .menu {
        width: 24px;
        height: 24px;
    }

    .header-nav {
        display: none;
    }



    .text-center {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        color: #000000;
        top: 120px;
        right: 50%;
        transform: translateX(50%);
        font-size: 76px;
        letter-spacing: -3.42px;
        font-family: "Crimson Text", serif;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 64.6px;
    }



    
    .back-image {
        position: absolute;
        width: 767.2px;
        height: 362px;
        background-color: #8E9C78;
        top: 305px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: block;
        box-sizing: border-box;
        clip-path: inset(-300px 0px 0px 0px);
    }

    .box-image {
        position: absolute;
        top: 222px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 270px;
        height: 541.81px;
        background-color: #000;
        border-top-right-radius: 34.6622px;
        border-top-left-radius: 34.6622px;
        border-bottom-right-radius: 34.6622px;
        border-bottom-left-radius: 34.6622px;
        display: block;
        box-sizing: border-box;
    }

    .top-phone {
        position: absolute;
        width: 207.24px !important;
        height: 22.19px !important;
        left: 50%;
        top: 29.9px !important;
    }



    .image-box img {
        width: 248px;
        height: 522px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 27.3649px;
    }


    