    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: "DM Sans", sans-serif;
        overflow-y: scroll;
    }

    header {
        position: relative;
        width: 799px;
        height: 76px;
        padding: 20px 20px 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        font-family: "DM Sans", sans-serif;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px , rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
        opacity: 1;
        box-sizing: border-box; 
           }
 
 
   .header-left {
        position: relative;
        display: block;
        font-size: 30px;
        font-family: "DM Sans", sans-serif;
        letter-spacing: -2.4px;
        justify-content: center;
        line-height: 1.2;
    }       


    .header-button {
        display: none;
    }


    .menu {
        width: 24px;
        height: 24px;
    }

    .header-nav {
        display: none;
    }

  
    @media (min-width: 800px) {  /* mobile wide */
        header {
            box-shadow: none;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

        }

        .menu {
            display: none;
        }

        .header-button {
            display: block;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2px;
            position: relative;
            width: 127px;
            height: 48px;
            padding: 14px 22px;
            background-color: #485C11;
            border-radius: 24px;
            color: #fff;
            right: 20px;
        }

        .header-button button {
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }

        .header-button button span {
            color: white;
            font-size: 14px;
            letter-spacing: 0.1px;
            font-weight: 600;
            white-space: nowrap;
        }

        .arrow-image {
            width: 6px;
            height: 6px;
        }

        .header-left{
            position: relative;
            top: 6px;
            left: 19.5px;
            letter-spacing: -1.5px;
        }


        .header-nav {
            display: block;
        }


    }