    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: "DM Sans", sans-serif;
        overflow-y: scroll;
    }

    header {
        position: relative;
        width: 799px;
        height: 76px;
        padding: 20px 20px 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        font-family: "DM Sans", sans-serif;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px , rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
        opacity: 1;
        box-sizing: border-box; 
           }
 

    .header-left {
        position: relative;
        display: block;
        font-size: 30px;
        font-family: "DM Sans", sans-serif;
        letter-spacing: -2.4px;
        justify-content: center;
        line-height: 1.2;
    }       



    .header-button {
        display: none;
}


    .menu {
        width: 24px;
        height: 24px;
    }

    .header-nav {
        display: none;
    }