@media (min-width: 1200px) {
    header {
        padding: 20px 60px 50px;
    }

    .header-left {
        left: -20px;
    }

    .header-button {
        right: -20px;
    }

    .new-header {
        width: 100%;
        max-width: 1580px;
        margin: 0 auto;
        padding: 14px 0 12px 0;
    }
}